.mainbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height:80vh;
    position: relative;
}

.timerBox{
    height:250px;
    width:370px;
    color: black;
    border-radius: 10%; 
    position:relative;
}
.bgbox{
    height:250px;
    width:370px;
    background-color:#abb4b7;
    border-radius: 10%; 
    opacity:0.5;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}
.Timer{
    position:absolute;
    size: 90px;
    left: 400px;
    top:20px;
    font-size: large;
    font-weight: 600;
    height: 70px;
    width:200px;
    border-radius: 10%;
    border: none;
    background-color: rgb(208, 219, 231);
}
.box{
    margin-top: 5vh;
    width:200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}
.cont{
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 80px;
}
label{
    margin-bottom: 0.5rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}
input{
    width: auto;
    height: 60px;
    margin-right: 15px;
    outline: none;
    border: none;
    font-size: 2rem;
    font-weight: 350;
    text-align: center;
    padding: 0rem 0.5rem;
    border-radius: 7px;
}
.playbtn{
    width:60px;
    font-size: 1.2rem;
    height: 40px;
    padding: auto;
    background-color: rgb(5, 119, 15);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    margin-left: 110px;
    margin-right: 20px;
    margin-top: 20px;
}
.pausebtn{
    width:60px;
    font-size: 1.5rem;
    height: 40px;
    padding: auto;
    background-color: rgb(180, 180, 0);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    margin-left: 110px;
    margin-right: 20px;
    margin-top: 20px;
}
.restartbtn{
    width:60px;
    font-size: 1.5rem;
    height: 40px;
    padding: auto;
    background-color: rgb(235, 70, 10);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
.title{
    font-size:2rem;
}