h1{
    color: #012e12;
    font: size 20px;
    font-style: italic;
    width: 200px;
    display: flex;
}
span{
    color:#012e12;
    font-style: italic;
    font-size: 30px;
    width:200px;
    margin-left: 10px;

}
.currentDateTime{
    width: 200px;
    margin-top: 2vh;
    z-index: 2;
    position: absolute;
}
